<div class="aboutus-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    {{(result$|async)|json}}
                <div style="padding-bottom: 18px;">Title<span style="color: red;"> *</span><br/>
                    <input type="text" id="data_5" name="data_5" style="max-width : 450px;" class="form-control"/>
                </div>
                <div style="padding-bottom: 18px;">Review<span style="color: red;"> *</span><br/>
                    <textarea id="data_8" false name="data_8" style="max-width : 450px;" rows="9" class="form-control"></textarea>
                </div>
                <div style="padding-bottom: 18px;"><input name="skip_Submit" value="Submit" type="submit"/></div>
                <div>
            </div>
        </div>
    </div>
</div>