<div class="aboutus-area">
  <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="aboutus-image float-left hidden-sm"><img src="../../assets/images/aboutuspic.jpeg"
                          alt=""></div>
              </div>
              <div class="col-md-8 col-sm-6 col-xs-12">
                  <div class="aboutus-content ">
                      <h1><span>Vijaya Kavadi</span></h1>
                      <br>
                      <h4>Without Having to Speak</h4>
                      <p>
                          Style who you are without having to speak vijaya kavadi is a apparel brand based
                          out of hyderabad, we design, make and sell designee apparel targeting the new age of women.
                          Our designer clothes includes Indo-Western, Bridal, Casual wear and kids wear.
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
