<footer>
  <div class="main-wrapper">
    <div class="footer">      
      <div>
        <ul>
          <li>
            <h4>Follow US</h4>
          </li>
          <li style="display: block">
            <span>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </span>
            <span>
              <a href="">
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
            </span>
          </li>          
        </ul>
      </div>      
    </div>
  </div>
</footer>