<div class="aboutus-area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="aboutus-image float-left hidden-sm"><img src="../../assets/images/aboutuspic.jpeg"
                            alt=""></div>
                </div> -->
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="aboutus-content ">
                        <h1><span>Sai</span></h1>
                        <br>
                        <h4>Yet to come</h4>
                        <p>
                            Yet to come
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>